/* importing google fonts */
/* distressed font for h1*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
/* source sans pro font for rest */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');


.App {
  text-align: center;
}

/* new styles for app */

/* general */
html {
  font-size: 125%;
}

h1 {
  font-family: 'Rubik Distressed', cursive;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  /* new styles .App as flex container for form and everything else on the page */
  display: flex;
  flex-direction: column;
}

/* stripping */
a {
  text-decoration: none;
  color: inherit;
}

/* SKIP LINK to MAIN CONTENT, only visible for screen readers when hitting tab */
.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
  top: 30px;
}

/* header */
/* header {
  padding-top: 40px;
} */

/* initial display (h1, h2, p etc.) */
.App p:first-of-type {
  margin: 0;
}

header p:first-of-type,
header p:nth-of-type(2) {
  font-weight: 600;
}

/* main */
main {
  /* height: 80vh; */
  margin-bottom: 300px;
}

/* background image banner */
.banner {
  background-image: url('./img/banner.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 320px;
  margin-bottom: 30px;
  z-index: 10;
}

/* background image header */

body {
  background-image: url('./img/transparent-bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 65px;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 1.1rem;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  transition: all ease-in 0.3s;
}

.quizForm h3 {
  margin-bottom: 5px;
}

.instruction p:first-of-type,
.leaveField p:nth-of-type(2) {
  font-size: 4rem;
  margin-bottom: 0px;
  margin-top: 7px;
}

/* container for intro message, styling only applied when quiz is displayed */
.introContainer {
  border: 3px solid black;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px 30px;
}

/* thought bubble as a background img for h3 when it's about getting a different question */
.instruction .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruction .thinking {
  background-image: url('./img/bubble_cropped.png');
  height: 155px;
  width: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-attachment: scroll; */
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 50px;
  flex-direction: column;
  margin: 50px 0 30px 0;
}


.thinking h3 {
  width: 100%;
  margin-top: 0;
}

.firstArrow svg {
  align-self: center;
  margin: 35px 0 20px 0;
}

.secondArrow svg {
  margin: 0px 0px 20px 0px;
}

.instruction a.start {
  margin-top: 30px;
  font-size: 1.2rem;
  display: flex;
  /* width: fit-content; */
  align-items: center;
  text-shadow: none;
}
.instruction .start svg {
  align-self: center;
  margin-bottom: 0;
}

.instruction a:hover,
.instruction a:focus {
  font-size: 1.3rem;
}

.start h3 {
  margin: 0; 
}

/* centering the initial start button */
button {
  align-self: center;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 1.2rem;
}

/* start button before quiz shows up */
.start {
  padding: 10px 50px;
  font-size: 1.5rem;
  background: #A741AC;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  transition: all ease-in 0.3s;
}
.start:hover,
.start:focus {
  background: rgb(163, 44, 169);
  font-size: 1.6rem;
  text-shadow:1px 1px 8px #fff, 1px 1px 8px #A741AC; 
}

/* next button when quiz is shown */
.next {
  font-size: 1.2rem;
  padding: 8px 20px;
  background: #2A28BA;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}
.next:hover,
.next:focus {
  font-size: 1.3rem;
  background: rgb(35, 32, 185, 0.9);
  text-shadow:1px 1px 8px #fff, 1px 1px 8px #2A28BA;
}
.next:not(:hover),
.next:visited,
.next:active {
  text-shadow: none;
  font-size: 1.2rem;
}

/* visually-hidden className to hide arrow description span and hidden labels from disabled input or button by default, but still visible/readable for screenreaders for  */
.visually-hidden {
  color: white;
  font-size: smaller;
  position: absolute;
  left: -450px;
}

/* form quiz */
/* form without content before button turns from start into new question */
.noContent {
  display: none;
}

/* center quiz items inside form element and add padding for space */
form {
  /* border: 3px solid white; */
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 60px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: rgb(0, 0, 0, 0.6);
  color: white;
  /* color: white; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.formContainer {
  margin-top: 20px;
  background-image: url('./img/glowy-quiz.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 650px;
  display: flex;
  justify-content: center;
}

/* properties div container inside form before fieldset */
.properties p:first-of-type,
.properties p:nth-of-type(2) {
  font-size: 1rem;
  width: fit-content;
  font-weight: 600;
}

.properties {
  display: flex;
  justify-content: space-between;
  background-color: rgb(105, 1, 107, 0.8);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* level container */
.level {
  align-self: flex-end;
  width: fit-content;
}

/* level and category container */
.level,
.category {
  margin: 0 10px 0 10px;
}

/* remove default fieldset styling */
fieldset {
  border: none;
  /* padding: 0; */
  padding: 5px 100px 12px 100px;
}

/* align legend with submit button (more padding to keep in mind of) */
legend {
  padding: 0;
  font-weight: bold;
  border: none;
  text-align: left;
}

/* legend.noContent {
  border-color: white;
} */

/* container for all inputs and labels */
.inputs {
  text-align: left;
  margin-top: 8px;
}


/* individual input and label container */
.answer {
  margin-bottom: 8px;
  /* make answer a flex container to align radio button with label better */
  /* display: flex; */
  border: 3px solid black;
  background-color: rgb(13, 48, 101, 0.8);
  border-radius: 50px;
  display: flex;
  width: 100%;
  padding: 5px 20px;
}

.answer:hover,
.answer:focus,
.answer:visited,
.answer:active {
  background-color: rgb(105, 1, 107, 0.85);
  font-size: 1.05rem;
}

/* .answer input:checked label {
  background-color: rgb(105, 1, 107, 0.85);
} */

/* making the radio buttons bigger, so that user doesn't have to always hit the dedicated button 100%, especially since the whole div looks like a clickable input */
input[type='radio'] { 
  transform: scale(1.3);
  margin-right: 6px;
  align-self: center;
  margin-bottom: 3px; 
  accent-color:rgb(105, 1, 107);
}

/* input[type="radio"]:checked {
  /* accent-color:green; */
/* } */

/* classNames for when user has selected  an answer without submitting */

div.selected {
  background-color: rgb(105, 1, 107, 0.85);
}

div.selectedFinal {
  color: white;
  /* accent-color: rgb(105, 1, 107); */
}

div.selected:hover,
div.selected:focus {
  background-color: rgb(105, 1, 107, 0.85);
}

/* classNames for when user has submitted either right or wrong answer */
div.selectedRight {
  background-color: rgb(0, 128, 0, 0.6);
}

div.selectedWrong {
  background-color: rgb(255, 0, 0, 0.6);
}

div.selectedWrong:hover,
div.selectedWrong:focus {
  background-color: rgb(255, 0, 0, 0.6);
}

div.idealSelect {
  background-color: rgb(0, 128, 0, 0.6);
  color: white;
}

div.idealSelect:hover,
div.idealSelect:focus {
  background-color: rgb(0, 128, 0, 0.6);
}

/* input[type="radio"].submittedInput {
  accent-color: red;
} */

/* if input is disabled class called weaker */
.weaker {
  /* border-color: rgb(0, 0, 0, 0.3);
  background: rgb(0, 0, 0, 0.2);
  color: rgb(189, 189, 189); */
  border: 3px solid black;
  background-color: rgb(13, 48, 101, 0.8);
  /* background-color: rgb(255, 255, 255, 0.9); */
  /* color: black; */
  color: white;
  border-radius: 50px;
  display: flex;
  width: 100%;
  padding: 5px 20px;
}

/* .weaker input:checked {
  background-color: rgb(0, 128, 0, 0.6);
} */

.weaker:hover,
.weaker:focus {
  background-color: rgb(13, 48, 101, 0.8);
  font-size: 1rem;
}

.weaker input {
  color: black;
}

button.weaker {
  cursor: unset;
  border: none;
  border-radius: 5px;
  /* background-color: rgb(13, 48, 101, 0.75); */
  background-color: rgba(77, 2, 78, 0.95);
  padding: 10px 15px;
  width: fit-content;
}
button.weaker:hover,
button.weaker:focus {
  background-color: rgba(77, 2, 78, 0.95);
  text-shadow: none;
  font-size: 1rem;
}


/* align submit button with other elements inside form  */
form button {
  align-self: flex-start;
  /* margin-top: 12px; */
  /* padding: 5px 10px; */
  margin-left: 100px;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(105, 1, 107, 0.85);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
}
form button:hover,
form button:focus {
  background-color: rgb(105, 1, 107, 0.95);
  text-shadow:1px 1px 8px #fff, 1px 1px 8px #2A28BA;
  font-size: 1.1rem;
}

/* noMessage class for when no feedback message yet (before form submission) */
.noMessage {
  margin-bottom: 20px;
}

/* message class for when feedback message exists upon form submission */
.message {
  margin-top: 20px;
  width: 100%;
  /* border-radius: 50px; */
}

.message p:first-child {
  padding: 10px 21px;
  font-size: 1.2rem;
}

.message p {
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  font-weight: bold;
}

/* class for feedback for right answer */
.right p {
  background-color: rgb(0, 128, 0, 0.6);
}

/* class for feedback for wrong answer */
.wrong p {
  background-color: rgb(255, 0, 0, 0.6);
}

/* .right,
.wrong {
  border-radius: 50px;
} */

/* limitSubmitMessage for when user has submitted and gets instruction on how to keep playing */
.limitSubmitMessage p:first-of-type {
  font-size: 1.1rem;
  font-weight: 600;
}

.limitSubmitMessage {
  margin-top: 35px;
  background-color: #fff;
  border: 3px solid #2A28BA;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 0;
}

/* anchor tag to go back to intruction */
.quizForm .start {
  align-self: center;
  margin-top: 70px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.quizForm .start:hover,
.quizForm .start:focus {
  text-shadow: none;
  font-size: 1.4rem;
}

.quizForm a svg {
  align-self: center;
}

/* leave field */
.leaveField svg {
  height: 50px;
  align-self: center;
  margin: 20px 0 10px 0;
}

/* .leaveField p:first-of-type {
  font-size: 1.1rem;
  
} */

.leaveField p:nth-of-type(2) {
  margin-top: 20px;
  font-size: 1.1rem;
}

.leaveField p:last-of-type {
  margin-top: 0;
}

.leaveField {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  font-weight: 600;
}

.leaveField button {
  background: #E9DCFF;
  border: 3px solid rgb(197, 165, 251);
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 20px;
  transition: all ease-in 0.5s;
}
.leaveField button:hover,
.leaveField button:focus {
  background: rgb(13, 48, 101, 0.9);
  border-color: #282c34;
  color: white;
}

/* footer copyright */
footer {
  padding: 10px 0;
  color: white;
  background-color: black;
}

footer p {
  margin: 0;
}

.partingImg {
  background-image: url("./img/brain.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 500px;
  margin-top: 80px;
  width: 100%;
}




/* MEDIA QUERIES */
/* MOBILE-FIRST APPROACH */
@media (min-width: 320px) {
  /* header */
  .banner {
    height: 150px;
    margin-bottom: 0;
  }
  /* if quiz is present reduce margin-bottom in main */
  .mainWithQuiz {
    margin-bottom: 150px;
  }
  /* quizForm section */
  section.instruction h3 {
    margin-bottom: 0;
  }
  section.instruction p:first-of-type {
    margin-top: 0;
  }
  /* link to go directly to quiz */
  .instruction a.start {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .instruction a:hover,
  .instruction a:focus {
    font-size: 1.1rem;
  }

  /* limitSubmitMessage div */
  .limitSubmitMessage {
    margin-top: 0px;
  }
  /* FORM */
  form {
    /* not fit-content anymore since, now form isn't respecting wrapper anymore */
    /* width: 100%; */
    /* margin-left: 0; */
    width: 100%;
    margin: 0;
  }

  .inputs {
    width: 80%;
  }
  .answer:hover,
  .answer:focus,
  .answer:visited,
  .answer:active {
    font-size: 1.01rem;
  }
  .formContainer {
    height: fit-content;
  }
  /* PROPERTIES */
  .properties {
    padding-top: 10px;
  }
  .category,
  .level {
    margin: 0 10px 0px 10px;
  }
  .category {
    width: 40%;
    margin-right: 25px;
    text-align: left;
  }
  .level {
    align-self: center;
    /* width: 34%; */
  }
  /* FIELDSET */
  fieldset {
    padding: 10px;
  }
  /* visually-hidden labels */
  .visually-hidden {
    left: -500px;
  }

  /* SUBMIT BUTTON */
  form button {
    margin-left: 18px;
    margin-bottom: 10px;
  }
  /* go back to top link */
  .quizForm .start {
    font-size: 1.1rem;
    width: fit-content;
    padding: 10px 30px;
  }
  .start svg {
    height: 25px;
  }
  .quizForm .start:hover,
  .quizForm .start:focus {
    font-size: 1.2rem;
  }
  /* leaveField */
  .leaveField {
    margin-top: 70px;
  }
  /* last img */
  .partingImg {
    height: 200px;
  }
  /* when limit submit message present at smaller screen sizes, remove margin-top from form container*/
  .submitAlert {
    margin-top: 0;
  }
  .alert p:first-child {
    font-size: 4rem;
    color: #2A28BA;
  }
  .alert svg {
    fill: #322fd6;
    margin-top: 15px;
  }
  
  .alert .limitSubmitMessage p:first-child {
    font-size: 1.1rem;
    color: black;
  }

  .introContainer {
    padding: 10px 10px;
  }
  
}

@media (min-width: 372px) {
  /* HEADER */
  .banner {
    height: 200px;
  }
  /* properties div */
  .category {
    width: 28%;
  }
}

@media (min-width: 438px) {
  /* hover for answer input and label */
  .answer:hover,
  .answer:focus,
  .answer:visited,
  .answer:active {
    font-size: 1.05rem;
  }
  .weaker:hover,
  .weaker:focus {
    font-size: 1rem;
  }
} 

@media (min-width: 515px) {
  /* HEADER */
  .banner {
    height: 250px;
  }
  /* FORM CONTAINER */
  .formContainer {
    height: 900px;
  }
  form {
    margin-left: 60px;
    /* margin-top: 100px; */
  }
  .loweredForm {
    margin-top: 200px;
  }
  /* styling limit submit message, so that it gets shown inside form container, easier for user to see the important instruction on how to keep playing */
  /* div container for limit submit message */
  /* when limit submit message is present, have arrow and submit message inside form container pointing to button */
  .inside {
    position: relative;
  }
  .alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
  }
  .limitSubmitMessage {
    position: absolute;
    top: 30%;
    margin-top: 0;
  }
  .alert .limitSubmitMessage p:first-child {
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0;
  }
  
  .alert p:first-child {
    font-size: 2.7rem;
    color: violet;
    height: min-content;
    margin-bottom: 80px;
    font-weight: bold;
  }

  .alert svg {
    height: min-content;
    margin-bottom: 200px;
    font-weight: bold;
  }


   /* when limit submit message present at wider screen sizes, give margin-top from form container back*/
   .submitAlert {
    margin-top: 20px;
    height: fit-content;
  }
  /* last img
  .partingImg {
    background-position-x: -70px;
  } */
}

@media (min-width: 538px) {
  /* limit submit message */
  .limitSubmitMessage {
    margin-top: 20px;
  }
  .alert p:first-child {
    font-size: 3.5rem;
  }
  .alert svg {
    height: 90px;
  }

  .alert .limitSubmitMessage p:first-child {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .introContainer {
    padding: 10px 20px;
  }
}

@media (min-width: 567px) {
  /* text container with think bubble */
  .thinkingText {
    width: 80%;
  }
}

/* @media (min-width: 574px) { */
  /* limit submit message */
  /* .alert p:first-child {
    margin-bottom: 140px;
    /* font-size: 2.7rem; */
  /* } */
  /* .alert .limitSubmitMessage p:first-child {
    margin-bottom: 0;
    font-size: 1.1rem;
  } */
  /* form {
    margin-top: 0;
  } */
  
/* } */

@media (min-width: 579px) {
  /* limit submit message */
  .alert p:first-child {
    margin-bottom: 100px;
  }
  .alert .limitSubmitMessage p:first-child {
    margin-bottom: 0;
  }
}


@media (min-width: 600px) {
  /* form */
  /* form {
    margin-top: 45px;
  } */
  /* HEADER */
  .banner {
    height: 300px;
  }
  /* properties div */
  .category {
    width: 40%;
  }
  /* submit button */
  form button {
    margin-left: 20px;
  }
  /* leaveField */
  .leaveField button {
    margin-bottom: 30px;
  }
  /* limit submit message */
  /* .limitSubmitMessage {
    top: 250%;
  } */
  /* last img
  .partingImg {
    background-position-x: -30px;
  } */
}

@media (min-width: 618px) {
  /* limit submit message */
  .alert p:first-child {
    margin-bottom: 115px;
  }
  .alert .limitSubmitMessage p:first-child {
    margin-bottom: 0;
  }
  /* think bubble container */
  .instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .thinking {
    align-self: center;
  }
}

@media (min-width: 650px) {
  /* HEADER */
  .banner {
    height: 350px;
  }
  /* .quizForm h3 */
  .quizForm h3 {
    margin-top: 30px;
  }
  /* category */
  .category {
    width: 50%;
  }
  /* fieldset */
  fieldset {
    padding: 20px;
  }
  /* last img */
  .partingImg {
    /* background-position-x: -150px; */
    height: 300px;
  }
   /* limit submit message */
   /* .limitSubmitMessage {
    top: 270%;
  } */
}

@media (min-width: 700px) {
   /* limit submit message */
  .alert p:first-child {
    font-size: 4.5rem;
    margin-bottom: 155px;
  }
  .alert .limitSubmitMessage p:first-child {
    margin-bottom: 0;
    font-size: 1.1rem;
  }
}

@media (min-width: 738px) {
  /* limit submit message */
  .alert p:first-child {
    font-size: 5rem;
    margin-bottom: 200px;
  }
  .alert .limitSubmitMessage p:first-child {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
}

@media (min-width: 800px) {
  /* intro container */
  .introContainer {
    padding: 10px 30px 25px 30px;
  }
}

/* tablet */
@media (min-width: 890px) {
  /* HEADER */
  /* header {
    padding-top: 70px;
  } */
  /* HEADER */
  .banner {
    height: 400px;
  }
  /* h2 */
  h2 {
    margin-bottom: 45px;
  }
  /* 2nd p tag inside header */
  header p:nth-of-type(2) {
    margin-top: 30px;
  }
  /* quizForm h3 */
  .quizForm h3 {
    margin-top: 40px;
  }
  /* form */
  /* form {
    margin-top: 60px;
  } */
  /* fieldset */
  fieldset {
    padding: 10px 30px;
  }
  /* submit button */
  form button {
    margin-left: 30px;
  }
  /* leaveField */
  .leaveField {
    margin-top: 90px;
  }
  .leaveField p:nth-of-type(2) {
    margin-top: 0;
  }
  /* last img */
  .partingImg {
    /* background-position-x: center; */
    height: 400px;
  }
  /* intro container */
  .introContainer {
    padding: 10px 50px 30px 50px;
  }

  
  
}

@media (min-width: 1000px) {
  /* HEADER */
  .banner {
    height: 450px;
  }
  /* limit submit message */
  .limitSubmitMessage {
    margin-top: 30px;
  }
}

/* small desktop */
@media (min-width: 1100px) {
  /* HEADER */
  /* header {
    padding-top: 90px;
  } */
  /* h2 */
  /* HEADER */
  .banner {
    height: 500px;
  }
  h2 {
    margin-bottom: 55px;
  }
  /* 2nd p tag inside header */
  header p:nth-of-type(2) {
    margin-top: 40px;
  }
  /* properties */
  .category {
    margin-left: 50px;
  }
  .level {
    margin-right: 50px;
  }
  /* fieldset */
  fieldset {
    padding: 10px 100px;
  }
  /* submit button */
  form button {
    margin-left: 100px;
  }
  /* form */
  /* form {
    max-width: 100%;
    width: fit-content;
  } */
}

@media (min-width:1275px) {
  /* HEADER */
  .banner {
    height: 600px;
  }
}

/* for medium/big desktops */
@media (min-width: 1550px) {
  /* HEADER */
  .banner {
    height: 700px;
  }
}

@media (min-width: 1750px) {
  /* HEADER */
  .banner {
    height: 800px;
  }
}

@media (min-width: 1900px) {
  /* HEADER */
  .banner {
    height: 900px;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
