/* importing google fonts */
/* distressed font for h1*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
/* source sans pro font for rest */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');


.App {
  text-align: center;
}

/* new styles for app */

/* general */
html {
  font-size: 125%;
}

h1 {
  font-family: 'Rubik Distressed', cursive;
}

.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  /* new styles .App as flex container for form and everything else on the page */
  display: flex;
  flex-direction: column;
}

/* stripping */
a {
  text-decoration: none;
  color: inherit;
}

/* SKIP LINK to MAIN CONTENT, only visible for screen readers when hitting tab */
.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
  top: 30px;
}

/* header */
/* header {
  padding-top: 40px;
} */

/* initial display (h1, h2, p etc.) */
.App p:first-of-type {
  margin: 0;
}

header p:first-of-type,
header p:nth-of-type(2) {
  font-weight: 600;
}

/* main */
main {
  /* height: 80vh; */
  margin-bottom: 300px;
}

/* background image banner */
.banner {
  background-image: url('./img/banner.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 320px;
  margin-bottom: 30px;
  z-index: 10;
}

/* background image header */

body {
  background-image: url('./img/transparent-bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 65px;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 1.1rem;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
}

.quizForm h3 {
  margin-bottom: 5px;
}

.quizForm p:first-of-type,
.leaveField p:nth-of-type(2) {
  font-size: 4rem;
  margin-bottom: 0px;
  margin-top: 7px;
}

.startArrow {
  color: #A741AC;
}

.nextArrow {
  color: #2A28BA;
}

/* centering the initial start button */
button {
  align-self: center;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 1.2rem;
}

/* start button before quiz shows up */
.start {
  padding: 10px 50px;
  font-size: 1.5rem;
  background: #A741AC;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

/* next button when quiz is shown */
.next {
  font-size: 1.2rem;
  padding: 8px 20px;
  background: #2A28BA;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

/* visually-hidden className to hide arrow description span and hidden labels from disabled input or button by default, but still visible/readable for screenreaders for  */
.visually-hidden {
  color: white;
  font-size: smaller;
  position: absolute;
  left: -450px;
}

/* form quiz */
/* form without content before button turns from start into new question */
.noContent {
  display: none;
}

/* center quiz items inside form element and add padding for space */
form {
  /* border: 3px solid white; */
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 60px;
  border-radius: 50px;
  background: rgb(0, 0, 0, 0.6);
  color: white;
  /* color: white; */
}

.formContainer {
  margin-top: 20px;
  background-image: url('./img/glowy-quiz.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  height: 650px;
  display: flex;
  justify-content: center;
}

/* properties div container inside form before fieldset */
.properties p:first-of-type,
.properties p:nth-of-type(2) {
  font-size: 1rem;
  width: fit-content;
  font-weight: 600;
}

.properties {
  display: flex;
  justify-content: space-between;
  background-color: rgb(105, 1, 107, 0.8);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

/* level container */
.level {
  align-self: flex-end;
  width: fit-content;
}

/* level and category container */
.level,
.category {
  margin: 0 10px 0 10px;
}

/* remove default fieldset styling */
fieldset {
  border: none;
  /* padding: 0; */
  padding: 5px 100px 12px 100px;
}

/* align legend with submit button (more padding to keep in mind of) */
legend {
  padding: 0;
  font-weight: bold;
  border: none;
  text-align: left;
}

/* legend.noContent {
  border-color: white;
} */

/* container for all inputs and labels */
.inputs {
  text-align: left;
  margin-top: 8px;
}


/* individual input and label container */
.answer {
  margin-bottom: 8px;
  /* make answer a flex container to align radio button with label better */
  /* display: flex; */
  border: 3px solid black;
  background-color: rgb(13, 48, 101, 0.8);
  border-radius: 50px;
  display: flex;
  width: 100%;
  padding: 5px 20px;
}

/* if input is disabled class called weaker */
.weaker {
  /* border-color: rgb(0, 0, 0, 0.3);
  background: rgb(0, 0, 0, 0.2);
  color: rgb(189, 189, 189); */
  border: 3px solid black;
  background-color: rgb(13, 48, 101, 0.8);
  background-color: rgb(255, 255, 255, 0.9);
  color: black;
  border-radius: 50px;
  display: flex;
  width: 100%;
  padding: 5px 20px;
}

.weaker input {
  color: black;
}



button.weaker {
  cursor: unset;
  border: none;
  border-radius: 5px;
  /* background-color: rgb(13, 48, 101, 0.75); */
  background-color: rgb(255, 255, 255, 0.8);
  padding: 10px 15px;
  width: fit-content;
}


/* align submit button with other elements inside form  */
form button {
  align-self: flex-start;
  /* margin-top: 12px; */
  /* padding: 5px 10px; */
  margin-left: 100px;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(105, 1, 107, 0.85);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
}

/* noMessage class for when no feedback message yet (before form submission) */
.noMessage {
  margin-bottom: 20px;
}

/* message class for when feedback message exists upon form submission */
.message {
  margin-top: 20px;
  width: 100%;
  /* border-radius: 50px; */
}

.message p:first-child {
  padding: 10px 21px;
  font-size: 1.2rem;
}

.message p {
  border-bottom-left-radius: 47px;
  border-bottom-right-radius: 47px;
  font-weight: bold;
}

/* class for feedback for right answer */
.right p {
  background-color: rgb(0, 128, 0, 0.6);
}

/* class for feedback for wrong answer */
.wrong p {
  background-color: rgb(255, 0, 0, 0.6);
}

/* .right,
.wrong {
  border-radius: 50px;
} */

/* limitSubmitMessage for when user has submitted and gets instruction on how to keep playing */
.limitSubmitMessage p:first-of-type {
  font-size: 1.1rem;
  font-weight: 600;
}

.limitSubmitMessage {
  margin-top: 35px;
  background-color: transparent;
  border: 3px solid #2A28BA;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

/* leave field */
.leaveField p:first-of-type {
  font-size: 1.1rem;
}

.leaveField p:last-of-type {
  margin-top: 0;
}

.leaveField {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  font-weight: 600;
}

.leaveField button {
  background: #E9DCFF;
  border: 3px solid rgb(216, 195, 252);
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 20px;
}

/* footer copyright */
footer {
  padding: 10px 0;
  color: white;
  background-color: black;
}

footer p {
  margin: 0;
}

.partingImg {
  background-image: url("./img/brain.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 80px;
  border-radius: 50px;
  width: 100%;
}




/* MEDIA QUERIES */
/* MOBILE-FIRST APPROACH */
@media (min-width: 320px) {
  /* header */
  .banner {
    height: 150px;
    margin-bottom: 0;
  }
  /* quizForm section */
  section.quizform h3 {
    margin-bottom: 0;
  }
  section.quizform p:first-of-type {
    margin-top: 0;
  }
  /* limitSubmitMessage div */
  .limitSubmitMessage {
    margin-top: 20px;
  }
  /* FORM */
  form {
    /* not fit-content anymore since, now form isn't respecting wrapper anymore */
    /* width: 100%; */
    margin-left: 0;
    width: 90%;
    margin-bottom: 30px;
  }

  .inputs {
    width: 80%;
  }
  .formContainer {
    height: fit-content;
  }
  /* PROPERTIES */
  .category,
  .level {
    margin: 0 10px 0px 10px;
  }
  .category {
    width: 40%;
    margin-right: 25px;
    text-align: left;
  }
  .level {
    align-self: center;
    /* width: 34%; */
  }
  /* FIELDSET */
  fieldset {
    padding: 10px;
  }
  /* visually-hidden labels */
  .visually-hidden {
    left: -500px;
  }

  /* SUBMIT BUTTON */
  form button {
    margin-left: 10px;
  }
  /* leaveField */
  .leaveField {
    margin-top: 70px;
  }
  /* last img */
  .partingImg {
    height: 200px;
    background-position-x: -200px;
  }
}

@media (min-width: 372px) {
  /* HEADER */
  .banner {
    height: 200px;
  }
  /* properties div */
  .category {
    width: 28%;
  }
}

@media (min-width: 470px) {
  /* last img */
  .partingImg {
    background-position-x: -100px;
  }
}

@media (min-width: 515px) {
  /* HEADER */
  .banner {
    height: 250px;
  }
  /* FORM CONTAINER */
  .formContainer {
    height: 900px;
  }
  form {
    margin-left: 60px;
    margin-top: 40px;
  }
  /* last img */
  .partingImg {
    background-position-x: -70px;
  }
}


@media (min-width: 600px) {
  /* form */
  /* form {
    margin-top: 45px;
  } */
  /* HEADER */
  .banner {
    height: 300px;
  }
  /* properties div */
  .category {
    width: 40%;
  }
  /* submit button */
  form button {
    margin-left: 20px;
  }
  /* leaveField */
  .leaveField button {
    margin-bottom: 30px;
  }
  /* last img */
  .partingImg {
    background-position-x: -30px;
  }
}

@media (min-width: 650px) {
  /* HEADER */
  .banner {
    height: 350px;
  }
  /* .quizForm h3 */
  .quizForm h3 {
    margin-top: 30px;
  }
  /* category */
  .category {
    width: 50%;
  }
  /* fieldset */
  fieldset {
    padding: 20px;
  }
  /* last img */
  .partingImg {
    background-position-x: -150px;
    height: 300px;
  }
}

/* tablet */
@media (min-width: 890px) {
  /* HEADER */
  /* header {
    padding-top: 70px;
  } */
  /* HEADER */
  .banner {
    height: 400px;
  }
  /* h2 */
  h2 {
    margin-bottom: 45px;
  }
  /* 2nd p tag inside header */
  header p:nth-of-type(2) {
    margin-top: 30px;
  }
  /* quizForm h3 */
  .quizForm h3 {
    margin-top: 40px;
  }
  /* form */
  /* form {
    margin-top: 60px;
  } */
  /* fieldset */
  fieldset {
    padding: 10px 30px;
  }
  /* submit button */
  form button {
    margin-left: 30px;
  }
  /* leaveField */
  .leaveField {
    margin-top: 90px;
  }
  .leaveField p:nth-of-type(2) {
    margin-top: 0;
  }
  /* last img */
  .partingImg {
    background-position-x: center;
    height: 400px;
  }
}

@media (min-width: 1020px) {
  /* HEADER */
  .banner {
    height: 450px;
  }
}

/* small desktop */
@media (min-width: 1100px) {
  /* HEADER */
  /* header {
    padding-top: 90px;
  } */
  /* h2 */
  /* HEADER */
  .banner {
    height: 500px;
  }
  h2 {
    margin-bottom: 55px;
  }
  /* 2nd p tag inside header */
  header p:nth-of-type(2) {
    margin-top: 40px;
  }
  /* properties */
  .category {
    margin-left: 50px;
  }
  .level {
    margin-right: 50px;
  }
  /* fieldset */
  fieldset {
    padding: 10px 100px;
  }
  /* submit button */
  form button {
    margin-left: 100px;
  }
  /* form */
  /* form {
    max-width: 100%;
    width: fit-content;
  } */
}

@media (min-width:1275px) {
  /* HEADER */
  .banner {
    height: 600px;
  }
}

/* for medium/big desktops */
@media (min-width: 1550px) {
  /* HEADER */
  .banner {
    height: 700px;
  }
}

@media (min-width: 1750px) {
  /* HEADER */
  .banner {
    height: 800px;
  }
}

@media (min-width: 1900px) {
  /* HEADER */
  .banner {
    height: 900px;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
